
<!DOCTYPE html>
<html>
  <!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@2.12.5")
  -->

  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.12.5/dist/quasar.prod.css" rel="stylesheet" type="text/css">

<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>María alegra</title>
  
  <script type="module">
    import { menuController } from 'https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/index.esm.js';
    window.menuController = menuController;
  </script>

    
  </head>

  <body>


    
    <!-- example of injection point where you write your app template -->
   <!--
Forked from:
https://quasar.dev/vue-components/carousel#example--vertical-mode
-->
<div id="q-app" style="min-height: 100vh;">

  
  <div class="q-pa-md">
 <q-layout view="lHh Lpr lff" container style="height: 100vh" class="shadow-2 rounded-borders">
      <q-header elevated class="bg-cyan-8">
        <q-toolbar>
          <q-toolbar-title>María alegra</q-toolbar-title>
          <q-btn flat @click="drawer = !drawer" round dense icon="menu"></q-btn>
        </q-toolbar>
      </q-header>

      <q-drawer
        v-model="drawer"
        show-if-above
        :width="200"
        :breakpoint="400"
      >
        <q-scroll-area style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd">
          <q-list padding>
            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="inbox"></q-icon>
              </q-item-section>

              <q-item-section>
                Sagrario en vivo
              </q-item-section>
            </q-item>

            <q-item active clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="star"></q-icon>
              </q-item-section>

              <q-item-section>
                Santa María de Guadalupe en vivo 
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="send"></q-icon>
              </q-item-section>

              <q-item-section>
                   Liturgia
              </q-item-section>
            </q-item>
            
               <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="send"></q-icon>
              </q-item-section>

              <q-item-section>
                   Liturgia
              </q-item-section>
            </q-item>
            
               <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="send"></q-icon>
              </q-item-section>

              <q-item-section>
                   Liturgia
              </q-item-section>
            </q-item>
               <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="send"></q-icon>
              </q-item-section>

              <q-item-section>
                   Liturgia
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="drafts"></q-icon>
              </q-item-section>

              <q-item-section>
                Drafts
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>

        <q-img class="absolute-top" src="https://cdn.quasar.dev/img/material.png" style="height: 150px">
          <div class="absolute-bottom bg-transparent">
            <q-avatar size="56px" class="q-mb-sm">
              <img src="https://mariavguadalupe.github.io/Alegra512.png">
            </q-avatar>
            <div class="text-weight-bold">"¿Acaso no estoy yo aquí, yo que tengo el honor de ser tu madre?</div>
            <div></div>
          </div>
        </q-img>
      </q-drawer>

      <q-page-container>
        <q-page padding>
          <p v-for="n in 5" :key="n">
        v
          </p>
        </q-page>
      </q-page-container>
    </q-layout>
  
</div>
  
          </div>
  

 

        
    <!-- Add the following at the end of your body tag -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.12.5/dist/quasar.umd.prod.js"></script>
    
    <script>
      /*
        Example kicking off the UI. Obviously, adapt this to your specific needs.
        Assumes you have a <div id="q-app"></div> in your <body> above
       */
    const { ref } = Vue

const app = Vue.createApp({
  setup () {
        
    return {
      
      drawer: ref(false)
    }
  }
})

app.use(Quasar, { config: {} })
app.mount('#q-app')

    </script>



<script src="//code.tidio.co/yrvh7kyn3utbz4njgndiokx2k0s5wtio.js" async></script>
    
  </body>
</html>
